global
    daemon
    maxconn 65535
    user root
    tune.bufsize 32768

defaults
    mode tcp
    timeout connect 3000ms
    timeout client  7200000ms
    timeout server  7200000ms
    timeout tunnel  7200000ms
    maxconn 65535

frontend ssh_ws_port80
    bind *:80
    mode tcp
    default_backend ssh_ws_handler

backend ssh_ws_handler
    server ws-local 127.0.0.1:8880 maxconn 30000
